/build/
/config/
/dist/
/*.js
/src/plugins/vbmap.js
/src/plugins/chart.js
/static/ezuikit


src/mixin/index.js
src/views/superviser/allVideos/v2.vue
src/filter/filterTime.js
src/api/dataPanel/index.js
src/api/codeManage/index.js
src/store/modules/deviceConfig.js
src/plugins/vaildate.js
src/store/modules/roleList.js
src/store/modules/userList.js
src/store/modules/allCompany.js
src/plugins/vaildate.2.0.js
src/store/modules/operationDetail.js
src/store/modules/superviseDetail.js
src/store/modules/portDetail.js
src/store/modules/surveillanceVideo.js
src/components/company/form.vue
src/components/common/myHeader.vue
src/views/account/login.vue
src/views/superviser/index.vue
src/components/liandan/showImg.vue
src/components/common/aside.vue
src/components/common/table.vue
src/views/superviser/video.vue
src/views/home/index.vue
src/components/company/jurisdiction.vue
src/api/index.js
src/api/companies/companies.js
src/api/device/index.js
src/api/account/login.js
src/api/common/index.js
src/api/statisticalAnalysis/index.js
src/api/operate/index.js
src/App.vue
src/views/companies/companyDetail/disposalDetail.vue
src/views/companies/companyDetail/transportDetail.vue
src/views/companies/addCompany.vue
src/views/companies/companyDetail/operationDetail.vue
src/views/companies/companyDetail/superviseDetail.vue
src/views/companies/companyDetail/collectDetail.vue
src/views/codemanage/codemanageModify.vue
src/views/device/deviceList.vue
src/views/device/deviceAlarmList.vue
src/views/device/deviceErrorList.vue
src/views/statisticalAnalysis/entryRecordDetail.vue
src/views/statisticalAnalysis/collectGasRecorde.vue
src/views/codemanage/codemanageAppealList.vue
src/views/codemanage/codemanageList.vue
src/views/statisticalAnalysis/entryRecord.vue
src/views/statisticalAnalysis/wuliandan.vue
src/views/operate/roleList.vue
src/views/companies/companyDetail/boatDetail.vue
src/views/codemanage/codemanageAppealDetail.vue
src/views/device/deviceConfig.vue
src/views/operate/surveillanceVideo.vue
src/views/device/deviceDetail.vue
src/views/companies/allCompany.vue
src/views/statisticalAnalysis/collectRecordeDetail.vue
src/views/companies/boatAlarmList.vue
src/views/statisticalAnalysis/transportManageDetail.vue
src/views/companies/companyDetail/portDetail.vue
src/plugins/http.js
src/api/superviser/superviser.js
src/utils/bus.js
src/store/index.js
src/router/index.js
src/utils/utils.js
src/views/dataPanel/videoWall.vue
src/views/h5/healthCodeRuleExplanation.vue
src/views/superviser/allVideos/v1.vue
src/views/superviser/allVideos/v3.vue
src/views/superviser/allVideos/v4.vue
src/views/superviser/allVideos/v5.vue
src/views/superviser/allVideos/v6.vue
src/components/common/myBread.vue